<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <script src="/assets/js/bootstrap.min.js"></script>
    </head>
    <body class="custom-auth-body">
        {% include 'templates/header.twig' %}
        <div class="container custom-auth-container">
            <div class="container card  col-4 float-right">
                <h2>
                    Login
                </h2>
                <form method="POST">
                    <div class="form-group">
                        <label>
                            Username
                            <input type="text" name="username" class="form-control" required="required">
                        </label>
                        <label>
                            Password
                            <input type="password" name="password" class="form-control" required="required">
                        </label>
                        <br/>
                        <button type="submit" class="btn btn-outline-primary" name="login">Login</button>
                    </div>
                </form>
            </div>
            <div class="container card  col-4 float-left">
                <form method="POST">
                    <h2>
                        Register
                    </h2>
                    <div class="form-group">
                        <label>
                            Name
                            <input type="text" name="name" class="form-control" required>
                        </label>
                        <label>
                            Username
                            <input type="text" name="username" class="form-control" required="required">
                        </label>
                        <label>
                            Password
                            <input type="password" name="password" class="form-control" required="required">
                        </label>
                        <br/>
                        <button type="submit" class="btn btn-outline-primary" name="register">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>