<nav class="navbar">
  <div class="container-fluid col-6">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ReadDiet</a>
    </div>
    <ul class="flex-row">
      <li class="btn btn-link"><a href="/">Home</a></li>
      <li class="btn btn-link"><a href="/new">New</a></li>
      <li class="btn btn-link"><a href="/best">Best</a></li>
      
      {% if loggedIn %}
        <li class="btn btn-link"><a href="/following">Following</a></li>
        <li class="btn btn-link"><a href="/profile/{{ loggedIn.id }}">{{ loggedIn.username }}</a></li>
        <li class="btn btn-link"><a href="/post">Create</a></li>
        <li class="btn btn-link"><a href="/logout">Logout</a></li>
      {% else %}
        <li class="btn btn-link"><a href="/login">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>