<html>
	<head>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="/assets/js/bootstrap.min.js"></script>
	</head>
	<body>
		{% include 'templates/header.twig' %}
		<h3 class="custom-page-heading col-6 card">
            Trending
        </h3>
		{% include 'templates/link_viewer.twig' %}
	</body>
</html>