<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <script src="/assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% include 'templates/header.twig' %}
        <h3 class="container custom-page-heading col-xl-6 col-lg-8 col-md-10 col-sm-10">
            Fresh outa the oven
        </h3>
        {% include 'templates/link_viewer.twig' %}
    </body>
</html>