<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <script src="/assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% include 'templates/header.twig' %}
        <div class="custom-post-card container col-6">
            <form method="POST">
                <h3 class="alert-heading">
                Food for thought
                </h3>
                <br/>
                <div class="card form-group">
                    <label>
                        Title:
                        <input name= "title" class ="form-control" type= "text">
                    </label><br>
                    <label>
                        Content:
                        <textarea name="content"  class ="form-control">
                        </textarea>
                    </label><br>
                    <label>
                        Tags(optional):
                        <input name= "tag1"  class ="form-control" type= "text" placeholder="Tag 1">
                        <input name= "tag2"  class ="form-control" type= "text" placeholder="Tag 2">
                        <input name= "tag3"  class ="form-control" type= "text" placeholder="Tag 3">
                    </label>
                </div>
                <input type="submit" name="submit-link-button" class="btn btn-outline-success">
            </form>
        </div>
    </body>
</html>