<html>
    <head>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <script src="assets/js/bootstrap.min.js"></script>
    </head>
    <body>

        {% include 'templates/header.twig' %}
        <h4 class="container-fluid col-6">
    		#{{ tag }}
    	</h4>
        {% include 'templates/link_viewer.twig' %}
    </body>
</html>